/*
 * Theme Name: Film Base - Unite Child
 * Template: Unite
 * Text Domain: Unite-chile
 */

 body {
  background-color: #FAF7F2;

  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
}
ul{
  padding: 0;
  margin: 0;
}
a{
  color: #b16517;
}
#masthead{
  background: #fff;

  padding: 16px;
  margin-bottom: 40px;

  border-bottom: 1px solid #ddd;
}

#masthead nav{
  margin-bottom: 0;

  border: none;

  background: none;
}

#masthead nav ul.navbar-nav li a{
  background: none;
}

#masthead nav ul.navbar-nav li a:hover{
  background: #FAF7F2;
}
#masthead nav ul.navbar-nav li.active a{
  color: #b16517;
}

header.page-header{
  background: #fff;

  border-bottom: 1px solid #ddd;
  border-radius: 0.2em;

  margin: 24px 0;
  padding: 16px;
}
header.page-header h1{
  margin: 0;

  font-size: 24px;
  color: #555;
}
/*// film cards*/
.film--holder{
  position: relative;
}
.film {
  position: relative;
  overflow: hidden;

  margin: 24px auto;

  width: 100%;
  max-width: 800px;

  background-color: white;
  border-radius: 0.2em;
  box-shadow: rgba(0, 0, 0, 0.2) 0 30px 18px -24px;
}
.film__data {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;

  min-height: 400px;
}


.film__tags {
  color: darkgray;
}
.film__poster {
  position: relative;
  display: flex;
  width: 100%;
}

.film__poster--fill {
  position: absolute;
  overflow: hidden;
  top: -80%;
  bottom: -20%;
  left: -20%;
  width: 150%;
  height: 150%;
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
}

.film__poster--fill img {
  -webkit-filter: blur(3px);
  filter: blur(3px);
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.film__poster--featured {
  position: relative;
  align-self: center;
  overflow: hidden;
  margin-top: 84px;
  margin-left: 24px;
  width: 200px;
  background-color: gainsboro;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.6) 0 6px 12px -6px;
  z-index: 1;
}

.film__poster--featured img {
  width: 200px;
  vertical-align: middle;
}
.film__poster--featured img[src="N/A"] {
  min-height: 206px;
  opacity: 0;
}
.film__details {
  flex: 1;
  padding: 24px;
}
.film__title{
  margin-top: 0;
}
.film__title a {
  font-size: 1em;
  color: #555;
}

.list--inline li {
  display: inline-block;
}
.list--inline li:not(:last-child) {
  margin-right: 12px;
}

.film__data p, .film__data li {
  font-size: 0.9em;
  line-height: 1.5;
}
.film__data p{
  color: #555;
}
.film__data p > a{
  color: #000;
  font-size: 12px;
  text-decoration: underline;
}
.film__data p > a:hover{
  color: #000;
  font-size: 12px;
  text-decoration: underline;
}
.film__data p > a > i{
  font-size: 8px;
  color: #555;
}

/*single film*/
.film.film--single .film__data{
  display: block;
}
.film.film--single .film__poster--fill{
  top: -30%;
  bottom: 0;
  left: 0px;
  width: 130%;
  height: 100%;
  -webkit-transform: rotate(5deg);
  transform: rotate(27deg);

}
.film.film--single .film__poster--fill img{
  -webkit-transform: scale(1.2);
  transform: scale(1);
}
.film.film--single .film__poster{
  width: 100%;
}
.film.film--single .film__poster--featured{
  margin: 32px 0 0;
}

.film.film--single .film__details{
  padding: 48px 56px;
}
/*// responsive fixes*/
@media (min-width: 600px) {
  .film__data {
    flex-direction: row;
  }
  .film__details {
    padding: 48px 72px;
  }
  .film__poster--featured {
    left: 56px;
    margin: auto;
  }
  .film__poster {
    margin-right: 12px;
    width: 200px;
  }
  .film__poster--fill {
    top: -20%;
    width: 100%;
  }
}



@media (min-width: 400px) {

}

/*// price tag*/
.price-tag {
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  color: #fff;
  background-color: #bf1919;
  text-shadow: 1px 1px 1px #921313;
  font-weight: bold;
  font-size: 1.1em;
  right: -8px;
  text-indent: -6px;
  position: absolute;
  top: 0;
  -moz-transform-origin: 88% 10%;
  -ms-transform-origin: 88% 10%;
  -webkit-transform-origin: 88% 10%;
  transform-origin: 88% 10%;
}
.price-tag span.small{
  display: block;
  font-size: 10px;
  line-height: 1;
  margin-bottom: -8px;
  margin-top: 5px;
}
.price-tag::before {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid #bf1919;
}
.price-tag.small{
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  top: 24px;
}
.price-tag.small::before{
  left: -10px;
  border-top-width: 10px;
  border-bottom-width: 10px;
  border-right-width: 10px;
}
/*// widget-area*/
.widget-area aside{
  background: #fff;
  padding: 32px;
  border-radius: 0.2em;



  margin-top: 24px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 30px 18px -24px;
}

.widget-area h3.widget-title{
  margin-top: 0;
}
.widget-area .media-object{
  height: 120px;
  width: auto;
  border-radius: 0.2em;
}
.widget-area ul{
  list-style: none;
}
.widget-area ul li{
  position: relative;

  box-shadow: rgba(0, 0, 0, 0.2) 0 30px 18px -24px;

  padding-bottom: 16px;
  margin-bottom: 16px;
}
.mb-0{
  margin-bottom: 0;
}
.mb-1{
  margin-bottom: 1em;
}
p strong{
  font-size: 12px;
}


/* =Comments
----------------------------------------------- */

.comment-content a {
  word-wrap: break-word;
}

#respond {
  background-color: transparent!important;
  box-shadow: none!important;
  padding: 0px!important;
}

#respond > p, #respond p.comment-notes, p.logged-in-as {
  margin-bottom: 10px;
}

p.logged-in-as {
  padding-bottom: 0px;
}

.comment-list {
  margin-bottom: 40px!important;
  margin-left: 0px!important;
  padding-left: 0;
}

.comment-list li {
  list-style: none!important;
}

.comment .comment-body {
  background-color: #ffffff;
  margin: 0;
  overflow: hidden;
  padding: 25px;
  margin-top: 2em;
  padding-left: 116px;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0);
  border-color: #eee;
  border-radius: 4px;
}

.comment-list .children {
  margin-left: 0px!important;
  padding-left: 40px;
  border-left: 1px solid #EEE;
  background-repeat: no-repeat;
  background-position: left 20px;
}

.comment-list li.comment > div img.avatar {
  position: absolute;
  left: 29px;
  top: 29px;
}

#comment-form-title {
  font-size: 24px;
  padding-bottom: 10px;
}
.vcard .avatar {
  position: absolute;
  left: 29px;
  top: 29px;
}
.comment-metadata {
  font-size: 11px;
  line-height: 16px;
  margin-bottom: 10px;
}
.comment-reply-link {
  float: right;
}
.form-allowed-tags code {
  word-wrap: break-word;
  white-space: inherit;
}
.comment-respond label {
  display: block;
  font-weight: normal;
}
.comment-respond .required {
  color: #C7254E;
}

/*comment form and page navigation*/
#commentform .submit, .search-submit{
  background: #b16517;
  border-color: #b16517;
}
.navigation.post-navigation, .comments-area{
  background: #fff;
  border-radius: 0.8em;
  border-bottom: 1px solid #ddd;
  padding: 32px;
  margin-bottom: 32px;
}
.navigation.post-navigation h1, .comments-area h3{
  margin-top: 0;
  font-size: 16px;
  color: #555;
}

/*footer*/
#footer{
  background: #fff;
  padding: 16px;
  border-top: 1px solid #ddd;
}

#footer ul.footer-nav > li{
  display: inline-block;
  vertical-align: top;
  width: 24%;
}
#footer ul.footer-nav > li > a{
  color: #555;
}
#footer ul.footer-nav > li ul li{
  list-style: none;
}
#footer ul.footer-nav > li ul li a{
  padding: 10px 15px;
}